# Ignore Reasources folder
#rsc/

# Ignore Xmind Files

*.xmind

# Ignore obsidian workspace

.obsidian/workspace*

# Ignore Obisdian Graph Setting

.obsidian/graph.json

#ignore Microsoft SDL Documentation
*.doc
*.xls
*.xlsx
