:root {
    --main-bkgrd: black;
    --link-color: purple;
    --icon-color: green;
  }
  
  
  
  * {
    background-color: var(--main-bkgrd);
  }
  
  header {
    position:fixed;
    top:0;
    display:flex;
    justify-content: space-around;
  }
  #header-img {
    max-width:100px;
  }
  nav {
    margin-top: 5px;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center
  
  }
  
  li {list-style:none;}
  a {color:var(--link-color);text-decoration:none;}
  a .fa-solid {color:var(--icon-color);}
  
  @media screen only and (max-width: 9000px)
   {
    * {
      background-color: green;
    }
  }